@page "/books"
@rendermode InteractiveServer
@using Lab5.Models
@using Lab5.Services
@inject ILibraryService LibraryService

<h3>Book Management</h3>

<h5>Add Book</h5>

<input placeholder="Title" @bind="newBook.Title" />
<input placeholder="Author" @bind="newBook.Author" />
<input placeholder="ISBN" @bind="newBook.ISBN" />

<button @onclick="AddBook">Add</button>

<hr />

<h5>Books</h5>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var book in books)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.ISBN</td>

                <td>
                    <button @onclick="() => DeleteBook(book.Id)">Delete</button>
                    <button @onclick="() => StartEdit(book)">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (editingBook != null)
{
    <h5>Edit Book</h5>

    <input @bind="editingBook.Title" />
    <input @bind="editingBook.Author" />
    <input @bind="editingBook.ISBN" />

    <button @onclick="SaveEdit">Save</button>
}

@code {

    List<Book> books = new();
    Book newBook = new();
    Book? editingBook;

    protected override void OnInitialized()
    {
        books = LibraryService.GetBooks();
    }

    void AddBook()
    {
        LibraryService.AddBook(newBook);
        newBook = new Book();
        books = LibraryService.GetBooks();
    }

    void DeleteBook(int id)
    {
        LibraryService.DeleteBook(id);
        books = LibraryService.GetBooks();
    }

    void StartEdit(Book book)
    {
        editingBook = new Book
        {
            Id = book.Id,
            Title = book.Title,
            Author = book.Author,
            ISBN = book.ISBN
        };
    }

    void SaveEdit()
    {
        if (editingBook == null) return;

        LibraryService.EditBook(editingBook);
        editingBook = null;

        books = LibraryService.GetBooks();
    }
}