@page "/"
@rendermode InteractiveServer

<PageTitle>Library</PageTitle>

<h1>Library Management System</h1>

<p>Select an option:</p>

<ul>
    <li><a href="/books">Manage Books</a></li>
    <li><a href="/users">Manage Users</a></li>
    <li><a href="/borrowreturn">Borrow / Return Books</a></li>
</ul>